#titulo {
    color: teal;
}

p strong{
    color: red;
}

.destacado{
    color: orange;
}

h2{
    color: blue;
}

span.especial{
    color: purple;
}

a[href="#"]{
    color: red;
}

#adicional a{
    color: green;
}

a em{
    color: blue;
}

table, th, td {
  border: 1px solid;
  border-color: black;
}

table {
  border-collapse: collapse;
  
}

td {
  text-align: center;
}

td, th {
  padding: 5px;
}

caption{
    color: blue;
}

td{
    color: green;
}

td strong{
    color: orange;
}

#adicional
{
    color: olive;
}

span#especial{
    color: fuchsia;
}

th.especial{
    color: orange;
}

th{
    color: red;
}